<h1>Dockerails</h1>

<p>
    This is a sample Rails app using MOJ DS standard Docker deployment setup.
</p>

<ul>
    <li>Environment: <strong><%= Rails.env %></strong></li>
    <li>Docker State: <strong><%= DOCKER_STATE %></strong></li>
    <li>Version: <strong><%= DOCKERAILS_VERSION %></strong></li>
    <li>Secret: <strong><%= SECRET %></strong></li>
</ul>

<% if @previous_access %>
    <ul>
        <li>On: <strong><%= @previous_access.created_at %></strong></li>
        <li>Code: <strong><%= @previous_access.code %></strong></li>
    </ul>
<% end %>