<h1>Dockerails</h1>

<p>
    This is a sample Rails app using MOJ DS standard Docker deployment setup.
</p>

<ul class="info">
    <li>Environment: <strong><%= Rails.env %></strong></li>
    <li>Docker State: <strong><%= DOCKER_STATE %></strong></li>
    <li>Secret: <strong><%= DOCKERAILS_SECRET %></strong></li>
</ul>

<% if @previous_access %>
    <ul class="access">
        <li>On: <strong><%= @previous_access.created_at %></strong></li>
        <li>Code: <strong><%= @previous_access.code %></strong></li>
    </ul>
<% end %>
<% if @err %>
  <ul class="error">
    <li><strong><%= @err.class %></strong><pre><code><%= @err %></code></pre></li>
  </ul>
<% end %>
